@use "sass:color";
@use "../colors.scss";

$bg-map: colors.$bg-map !default;

@mixin button-color($color) {
  transition: background-color 0.1s;
  background-color: $color;
  color: white !important;
  &:hover {
    background-color: color.adjust($color, $lightness: 15%);
  }
}

.link-button {
  font-family: "Aldo the Apache", Arial, sans-serif;
  font-size: 1.8rem;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
  svg {
    margin-left: -2px;
  }
  &.special {
    font-size: 2rem;
  }
  @include button-color(rgb(182, 0, 0));
}

@each $color-name, $color-value in $bg-map {
  .link-button-color-#{$color-name} {
    @include button-color($color-value);
  }
}

@media only screen and (max-width: 500px) {
  .link-button {
    font-size: 1.7rem;
    &.special {
      font-size: 1.9rem;
    }
  }
}
